:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.gap-1 {
  gap: 5px;
}
.gap-2 {
  gap: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.h-fit {
  height: fit-content;
}

.p-1 {
  padding: 5px;
}

.button-secondary {
  background-color: #0e78ff;
  border-width: 0;
  padding: 4px;
  color: #fff;
  border-radius: 2px;
}

.button-secondary:hover {
  cursor: pointer;
}

.button-secondary:disabled {
  background-color: #dfe5ec;
  color: #898d92;
  cursor: default;
}

